
        <div class="container">
            <h2 class="section-title text-center mb-4">Szolgáltatásaink</h2>

            <div class="row">
                
                <div class="col-lg-4">
                    <div class="service-item">
                        <img src="tune-up.jpg" alt="Hangolás">
                        <h3 class="mt-3">Hangolás</h3>
                        <p>Tartsa kerékpárját zökkenőmentesen működőképes állapotban profi hangolási szolgáltatásunkkal.</p>
                    </div>
                </div>


                <div class="col-lg-4">
                    <div class="service-item">
                        <img src="repair.jpg" alt="Javítás">
                        <h3 class="mt-3">Javítás</h3>
                        <p>A defekttől a törött lánchúzig, képzett technikusaink mindent megjavítanak.</p>
                    </div>
                </div>


                <div class="col-lg-4">
                    <div class="service-item">
                        <img src="maintenance.jpg" alt="Karbantartás">
                        <h3 class="mt-3">Karbantartás</h3>
                        <p>A rendszeres karbantartás segít meghosszabbítani kerékpárja élettartamát és optimális teljesítményét biztosítja.</p>
                    </div>
                </div>
            </div>
        </div>



