
<html lang="hu">

<body>

    <header>
        <p>A minőségi kerékpárok és kiegészítők egyetlen célpontja</p>
    </header>

    <section id="title">
        <h1>Üdvözöljük az ISABIKE-ban</h1>
        <p>Fedezze fel prémium kerékpárjaink és kiegészítőink gyűjteményét.</p>
        <img src="assets/boltkepek/bolt_1.png" alt="Kerékpárüzlet Kép" style="max-width: 100%; height: auto;">
    </section>

    <section id="bikes">
        <h2>A Kerékpárjaink</h2>
        <p>Csak a legjobb minő</p>
    </section>


    <section id="contact">
        <h2>Elérhetőségünk</h2>
        <ul>
          <p>Telefonszám: <a href="tel:+36304442211">06 30 444 2211</a></p>
          <p>Email cím: <a href="mailto:isabike@gmail.com">isabike@gmail.com</a></p>
        </ul>   
        <p>Címünk: Csongád, Csánád utca 15.</p>
        
        
    </section>
    

    <footer>
        <p>&copy; 2024 Rólunk Kerékpárüzlet. Minden jog fenntartva.</p>
    </footer>

</body>
</html>
